.question-form {
  border: 1px solid var(--main-color);
  border-radius: 20px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  /* -webkit-transition: opacity 2s ease-in; */
  transition: opacity 2s ease-in-out, height 0.5s ease-in;
}
.opening {
  opacity: 1;
  height: 100px;
}
@media all and (max-width: 900px) {
  .opening {
    opacity: 1;
    min-height: 140px;
  }
}
.question-input {
  border: none;
  background: transparent;
  border-bottom: 2px solid var(--main-color);
}
.question-input::after {
  content: "?";
}
.add-button {
  position: relative;
  top: 0;
  left: 45%;
  right: 45%;
  align-self: center;
  margin: 10px;
}
